<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />

</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpQuestion}}</p>

    </div>

    {{>footer}}
</body>


</html>